html {
    height: 100%;
}

body {
	background-image: url('../images/OrangeBackground.jpg');
	font-family: Helvetica;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	   -moz-font-smoothing: antialiased;
		   -o-font-smoothing: antialiased;
	        font-smoothing: antialiased;
}

.dialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 500px;
  position: relative;
  margin: 180px auto;
  padding: 20px 30px 20px 30px;
  border: black 5px solid;
  border-radius: 10px;
  background: #EBEBEB;
}

.header {
	min-height: 16.42857143px;
	padding: 15px;
}

.title {
	margin: 0;
	font-size: 28pt;
	line-height: 1.42857143;
	text-align: center;
}

.subtitle {
	margin: 0;
	font-size: 16pt;
	line-height: 3.0;
	text-align: center;
}

.welcome {
  margin: 0;
  font-size: 50pt;
  line-height: 2.0;
  text-align: center;
}

.body {
	position: relative;
	padding: 15px;
}

.form-group {
	margin-bottom: 20px;
}

.form-control {
	display: block;
	width: 95%;
	height: 34px;
	padding: 6px 12px;
	margin-top: 10px;
	margin-left: -2px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.form-control:focus {
	border-color: #EE4400;
	outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.footer {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	text-align: right;
}

.btn {
  display: inline-block;
	padding: 8px 20px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.btn-primary {
	color: #fff;
	background-color: #EB4400;
	border-color: black;
}

.btn-primary:hover {
	color: black;
	background-color: #F0B501;
	border-color: black;
}

.round-button {
  width:10%;
}

.round-button-circle {
  width: 100%;
  height:0;
  padding-bottom: 100%;
  margin: 25px;
  border-radius: 50%;
  overflow:hidden;
  background: #EE4400; 
}

.triangle {
  margin-top: 35px;
  margin-left: 20px;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 95px solid white;
  border-bottom: 50px solid transparent;
}

.flip-container {
  position: absolute;
  float: left;
  margin-bottom: 50px;
  margin-top: -100px;
  margin-left: -100px;
  -webkit-perspective: 1200;
     -moz-perspective: 1200;
          perspective: 1200;
}

.flip-container:hover .creation {
  -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.creation {
  width: 236px;
  height: 236px;
  float: left;
  -webkit-transition: all 0.6s;
     -moz-transition: all 0.6s;
          transition: all 0.6s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  top: 0;
  left: : 0;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}

.back {
  z-index: 800;
  -webkit-transform: rotateY(-180deg);
     -moz-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.creation p {
  color: #EE4400;
  display: block;
  width: auto;
  text-align: center;
  line-height: 230px;
  margin: 0 0px;
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #999;
  font-family: sans-serif;
}

.creation p span {
  vertical-align: middle;
  display: inline-block;
  line-height: 2;
}

.cont {
  background-color: #ddd;
  width: 220px;
  height: 220px;
  display: inline-block;
  border: 8px solid #EE4400;
}

.image {
  width: 220px;
  height: 220px;
  border: 8px solid #EE4400;
}

.area {
  position: relative;
  background-image: url('../images/Tattoos\ -\ EP.jpg');
/*  background: -webkit-linear-gradient(#f0f0f0,#f8f8f8);
  background: -moz-linear-gradient(#f0f0f0,#f8f8f8);
  background: -ms-linear-gradient(#f0f0f0,#f8f8f8);*/
  width: 600px;
  height: 600px;
}

.bar {
  position: absolute;
  bottom: 0;
  width: 18.75px;
  box-shadow: 0px -2px 0 #EE4400;
  background: #000;
  opacity: .8;
  -webkit-transition: .1s ease all;
}

audio#sound {
  position: absolute;
  bottom: 0;
  width: 600px;
  left: 0;
  border: 0;
  background-color: black;
}

.whole {
  position: fixed;
  left: 550px;
  top: 100px;
}
