html {
    height: 100%;
}

body {
	background-image: url('../images/OrangeBackground.jpg');
	font-family: Helvetica;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	   -moz-font-smoothing: antialiased;
		   -o-font-smoothing: antialiased;
	        font-smoothing: antialiased;
}

.dialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 500px;
  position: relative;
  margin: 180px auto;
  padding: 20px 30px 20px 30px;
  border: black 5px solid;
  border-radius: 20px;
  background: #EBEBEB;
}

.header {
	min-height: 16.42857143px;
	padding: 15px;
}

.title {
	margin: 0;
	font-size: 28pt;
	line-height: 1.42857143;
	text-align: center;
}

.subtitle {
	margin: 0;
	font-size: 16pt;
	line-height: 3.0;
	text-align: center;
}

.welcome {
  margin: 0;
  font-size: 50pt;
  line-height: 2.0;
  text-align: center;
}

.body {
	position: relative;
	padding: 15px;
}

.form-group {
	margin-bottom: 20px;
}

.form-control {
	display: block;
	width: 95%;
	height: 34px;
	padding: 6px 12px;
	margin-top: 10px;
	margin-left: -2px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.form-control:focus {
	border-color: #EE4400;
	outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.footer {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	text-align: right;
}

.btn {
  display: inline-block;
	padding: 8px 20px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.btn-primary {
	color: #fff;
	background-color: #EB4400;
	border-color: black;
}

.btn-primary:hover {
	color: black;
	background-color: #F0B501;
	border-color: black;
}

#back-container {
  position:absolute;
  top:5%;
  left: 2.5%;
  z-index:10;
  height:150px;
  width:150px;
  background:#EE4400;
  border-radius:50%;
}

#back-container:hover {
  background:white;
}

.back-arrow {
  position:absolute;
  top: 25%;
  left:2.5%;
  height:0;
  width:0;
  border-top:37.5px solid transparent;
  border-bottom:37.5px solid transparent;
  border-left:37.5px solid transparent;
  border-right:56.25px solid white;
}
#back-container:hover .back-arrow {
  position:absolute;
  top: 25%;
  left:2.5%;
  height:0;
  width:0;
  border-top:37.5px solid transparent;
  border-bottom:37.5px solid transparent;
  border-left:37.5px solid transparent;
  border-right:56.25px solid #EE4400;
}

.flip-container {
  position: absolute;
  float: left;
  margin-bottom: 50px;
  margin-top: -100px;
  margin-left: -100px;
  border-radius: 10px;
  -webkit-perspective: 1200;
     -moz-perspective: 1200;
          perspective: 1200;
}

.flip-container:hover .creation {
  -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#one, #two, #three, #four, #five {
  top: 20%;
}

#six, #seven, #eight, #nine, #ten {
  top: 50%;
}

#eleven, #twelve, #thirteen, #fourteen, #fifteen {
  top: 80%;
}

#sixteen, #seventeen, #eighteen, #nineteen, #twenty {
  top: 110%;
}

#twentyone, #twentytwo, #twentythree, #twentyfour, #twentyfive {
  top: 140%;
}

#one, #six, #eleven, #sixteen, #twentyone {
  left: 20%;
}

#two, #seven, #twelve, #seventeen, #twentytwo {
  left: 35%;
}

#three, #eight, #thirteen, #eighteen, #twentythree {
  left: 50%;
}

#four, #nine, #fourteen, #nineteen, #twentyfour {
  left: 65%;
}

#five, #ten, #fifteen, #twenty, #twentyfive {
  left: 80%;
}

#flower, #earned, #something {
  font-size: 17px;
}

#dance {
  font-size: 15px;
}

#waves {
  font-size: 19px;
}

#where {
  font-size: 18px;
}

.creation {
  width: 236px;
  height: 236px;
  float: left;
  -webkit-transition: all 0.6s;
     -moz-transition: all 0.6s;
          transition: all 0.6s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front, .back {
  position: absolute;
  top: 0;
  left: : 0;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}

.back {
  z-index: 800;
  -webkit-transform: rotateY(-180deg);
     -moz-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.creation p {
  color: #EE4400;
  display: block;
  width: auto;
  text-align: center;
  line-height: 230px;
  margin: 0 0px;
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #999;
  font-family: sans-serif;
}

.creation p span {
  vertical-align: middle;
  display: inline-block;
  line-height: 2;
}

.cont {
  background-color: #ddd;
  width: 220px;
  height: 220px;
  display: inline-block;
  border: 8px solid #EE4400;
  border-radius: 20px;
}

.image {
  width: 220px;
  height: 220px;
  border: 8px solid #EE4400;
  border-radius: 20px;
}

@media (max-width: 1533px) {
  #back-container {
    top: 1%;
    left: 1%;
  }
  .back-arrow {
    left:1.5%;
  }
  #back-container:hover .back-arrow {
    left:1.5%;
  }
  .creation {
    width: 216px;
    height: 216px;
  }
  .creation p {
    line-height: 210px;
  }
  .cont {
    width: 200px;
    height: 200px;
  }
  .image {
    width: 200px;
    height: 200px;
  }
  #where {
    font-size: 17px;
  }
  #one, #two, #three, #four, #five {
    top: 20%;
  }
  #six, #seven, #eight, #nine, #ten {
    top: 48%;
  }
  #eleven, #twelve, #thirteen, #fourteen, #fifteen {
    top: 76%;
  }
  #sixteen, #seventeen, #eighteen, #nineteen, #twenty {
    top: 104%;
  }
  #twentyone, #twentytwo, #twentythree, #twentyfour, #twentyfive {
    top: 132%;
  }
}

@media (max-width: 1404px) {
  #back-container {
    height:125px;
    width:125px;
  }
  .back-arrow {
    border-top:31.25px solid transparent;
    border-bottom:31.25px solid transparent;
    border-left:31.25px solid transparent;
    border-right:46.875px solid white;
  }
  #back-container:hover .back-arrow {
    border-top:31.25px solid transparent;
    border-bottom:31.25px solid transparent;
    border-left:31.25px solid transparent;
    border-right:46.875px solid #EE4400;
  }

  .creation {
    width: 252px;
    height: 252px;
  }

  .creation p {
    line-height: 230px;
  }

  .cont {
    width: 236px;
    height: 236px;
  }

  .image {
    width: 236px;
    height: 236px;
  }

  #dance, #earned {
    font-size: 19px;
  }
  #one, #two, #three, #four {
    top: 20%;
  }

  #five, #six, #seven, #eight {
    top: 53%;
  }

  #nine, #ten, #eleven, #twelve {
    top: 86%;
  }

  #thirteen, #fourteen, #fifteen, #sixteen {
    top: 119%;
  }

  #seventeen, #eighteen, #nineteen, #twenty  {
    top: 152%;
  }

  #twentyone, #twentytwo, #twentythree, #twentyfour {
    top: 185%;
  }

  #twentyfive {
    top: 218%;
  }

  #one, #five, #nine, #thirteen, #seventeen, #twentyone {
    left: 20%;
  }

  #two, #six, #ten, #fourteen, #eighteen, #twentytwo {
    left: 40%;
  }

  #three, #seven, #eleven, #fifteen, #nineteen, #twentythree {
    left: 60%
  }

  #four, #eight, #twelve, #sixteen, #twenty, #twentyfour {
    left: 80%;
  }

  #twentyfive {
    left: 50%;
  }
}
@media (max-width: 1231px) {
  #back-container {
    height:100px;
    width:100px;
  }
  .back-arrow {
    border-top:25px solid transparent;
    border-bottom:25px solid transparent;
    border-left:25px solid transparent;
    border-right:37.5px solid white;
  }
  #back-container:hover .back-arrow {
    border-top:25px solid transparent;
    border-bottom:25px solid transparent;
    border-left:25px solid transparent;
    border-right:37.5px solid #EE4400;
  }
  .creation {
    width: 216px;
    height: 216px;
  }
  .creation p {
    line-height: 210px;
  }
  .cont {
    width: 200px;
    height: 200px;
  }
  .image {
    width: 200px;
    height: 200px;
  }

  #dance, #earned {
    font-size: 16px;
  }

  #one, #two, #three, #four {
    top: 20%;
  }

  #five, #six, #seven, #eight {
    top: 50%;
  }

  #nine, #ten, #eleven, #twelve {
    top: 80%;
  }

  #thirteen, #fourteen, #fifteen, #sixteen {
    top: 110%;
  }

  #seventeen, #eighteen, #nineteen, #twenty  {
    top: 140%;
  }

  #twentyone, #twentytwo, #twentythree, #twentyfour {
    top: 170%;
  }

  #twentyfive {
    top: 200%;
  }

  #one, #five, #nine, #thirteen, #seventeen, #twentyone {
    left: 20%;
  }

  #two, #six, #ten, #fourteen, #eighteen, #twentytwo {
    left: 40%;
  }

  #three, #seven, #eleven, #fifteen, #nineteen, #twentythree {
    left: 60%
  }

  #four, #eight, #twelve, #sixteen, #twenty, #twentyfour {
    left: 80%;
  }

  #twentyfive {
    left: 50%;
  }
}

@media (max-width: 1050px) {
  #one, #two, #three {
    top: 20%;
  }

  #four, #five, #six {
    top: 50%;
  }

  #seven, #eight, #nine {
    top: 80%;
  }

  #ten, #eleven, #twelve {
    top: 110%;
  }

  #thirteen, #fourteen, #fifteen {
    top: 140%;
  }

  #sixteen, #seventeen, #eighteen  {
    top: 170%;
  }

  #nineteen, #twenty, #twentyone {
    top: 200%;
  }

  #twentytwo, #twentythree, #twentyfour {
    top: 230%;
  }

  #twentyfive {
    top: 260%;
  }

  #one, #four, #seven, #ten, #thirteen, #sixteen, #nineteen, #twentytwo {
    left: 25%;
  }

  #two, #five, #eight, #eleven, #fourteen, #seventeen, #twenty, #twentythree, #twentyfive {
    left: 50%;
  }

  #three, #six, #nine, #twelve, #fifteen, #eighteen, #twentyone, #twentyfour {
    left: 75%
  }
}

@media (max-width: 839px) {
  .creation {
    width: 316px;
    height: 316px;
  }
  .creation p {
    line-height: 300px;
    font-size: 30px;
  }
  .cont {
    width: 300px;
    height: 300px;
  }

  .image {
    width: 300px;
    height: 300px;
  }

  #flower, #dance, #earned, #waves, #something, #where {
    font-size: 22px;
  }

  #one, #two {
    top: 20%;
  }

  #three, #four {
    top: 60%;
  }

  #five, #six {
    top: 100%;
  }

  #seven, #eight {
    top: 140%;
  }

  #nine, #ten {
    top: 180%;
  }

  #eleven, #twelve  {
    top: 220%;
  }

  #thirteen, #fourteen {
    top: 260%;
  }

  #fifteen, #sixteen {
    top: 300%;
  }

  #seventeen, #eighteen {
    top: 340%;
  }

  #nineteen, #twenty {
    top: 380%;
  }

  #twentyone, #twentytwo {
    top: 420%;
  }

  #twentythree, #twentyfour {
    top: 460%;
  }

  #twentyfive {
    top: 500%;
  }

  #one, #three, #five, #seven, #nine, #eleven, #thirteen, #fifteen, #seventeen, #nineteen, #twentyone, #twentythree {
    left: 28%;
  }

  #two, #four, #six, #eight, #ten, #twelve, #fourteen, #sixteen, #eighteen, #twenty, #twentytwo, #twentyfour {
    left: 68%;
  }

  #twentyfive {
    left: 48%
  }
}

@media (max-width: 770px) {
    .creation {
      width: 266px;
      height: 266px;
    }

    .creation p {
      line-height: 250px;
      font-size: 22px;
    }

    .cont {
      width: 250px;
      height: 250px;
    }

    .image {
      width: 250px;
      height: 250px;
    }
    
    #dance, #where, #something, #earned {
      font-size: 18px;
    }

    #one, #two {
      top: 20%;
    }

    #three, #four {
      top: 55%;
    }

    #five, #six {
      top: 90%;
    }

    #seven, #eight {
      top: 125%;
    }

    #nine, #ten {
      top: 160%;
    }

    #eleven, #twelve  {
      top: 195%;
    }

    #thirteen, #fourteen {
      top: 230%;
    }

    #fifteen, #sixteen {
      top: 265%;
    }

    #seventeen, #eighteen {
      top: 300%;
    }

    #nineteen, #twenty {
      top: 335%;
    }

    #twentyone, #twentytwo {
      top: 370%;
    }

    #twentythree, #twentyfour {
      top: 405%;
    }

    #twentyfive {
      top: 440%;
    }

    #one, #three, #five, #seven, #nine, #eleven, #thirteen, #fifteen, #seventeen, #nineteen, #twentyone, #twentythree {
      left: 30%;
    }

    #two, #four, #six, #eight, #ten, #twelve, #fourteen, #sixteen, #eighteen, #twenty, #twentytwo, #twentyfour {
      left: 68%;
    }

    #twentyfive {
      left: 50%
    }
}

@media (max-width: 676px) {
    .creation {
      width: 366px;
      height: 366px;
    }

    .creation p {
      line-height: 350px;
      font-size: 30px;
    }

    .cont {
      width: 350px;
      height: 350px;
    }

    .image {
      width: 350px;
      height: 350px;
    }
    #flower, #dance, #earned, #waves, #something, #where {
      font-size: 24px;
    }
    #one {
      top: 20%;
    }

    #two {
      top: 65%;
    }

    #three {
      top: 110%;
    }

    #four {
      top: 155%;
    }

    #five {
      top: 200%;
    }

    #six {
      top: 245%;
    }

    #seven {
      top: 290%;
    }

    #eight {
      top: 335%;
    }

    #nine {
      top: 380%;
    }

    #ten {
      top: 425%;
    }

    #eleven {
      top: 470%;
    }

    #twelve {
      top: 515%;
    }

    #thirteen {
      top: 560%;
    }

    #fourteen {
      top: 605%;
    }

    #fifteen {
      top: 650%;
    }

    #sixteen {
      top: 695%;
    }

    #seventeen {
      top: 740%;
    }

    #eighteen {
      top: 785%;
    }

    #nineteen {
      top: 830%;
    }

    #twenty {
      top: 875%;
    }

    #twentyone {
      top: 920%;
    }

    #twentytwo {
      top: 965%;
    }

    #twentythree {
      top: 1010%;
    }

    #twentyfour {
      top: 1055%;
    }

    #twentyfive {
      top: 1100%;
    }

    #one, #three, #five, #seven, #nine, #eleven, #thirteen, #fifteen, #seventeen, #nineteen, #twentyone, #twentythree, #two, #four, #six, #eight, #ten, #twelve, #fourteen, #sixteen, #eighteen, #twenty, #twentytwo, #twentyfour, #twentyfive {
      left: 38%
    }
}

@media (max-width: 594px) {
  .dialog {
    width: 350px;
  }

  .title {
    line-height: 1.5;
  }

  .subtitle {
    line-height: 1.5;
  }

  .welcome {
    line-height: 1.5;
    margin-bottom: -10px;
  }
}

@media (max-width: 524px) {
    #back-container {
    height:75px;
    width:75px;
    }
    .back-arrow {
    border-top:18.75px solid transparent;
    border-bottom:18.75px solid transparent;
    border-left:18.75px solid transparent;
    border-right:28.125px solid white;
    }
    #back-container:hover .back-arrow {
    border-top:18.75px solid transparent;
    border-bottom:18.75px solid transparent;
    border-left:18.75px solid transparent;
    border-right:28.125px solid #EE4400;
    }
    .creation {
    width: 316px;
    height: 316px;
    }

    .creation p {
      line-height: 310px;
    }

    .cont {
      width: 300px;
      height: 300px;
    }

    .image {
      width: 300px;
      height: 300px;
    }
    #flower, #dance, #earned, #waves, #something, #where {
      font-size: 24px;
    }
    #one {
      top: 20%;
    }

    #two {
      top: 60%;
    }

    #three {
      top: 100%;
    }

    #four {
      top: 140%;
    }

    #five {
      top: 180%;
    }

    #six {
      top: 220%;
    }

    #seven {
      top: 260%;
    }

    #eight {
      top: 300%;
    }

    #nine {
      top: 340%;
    }

    #ten {
      top: 380%;
    }

    #eleven {
      top: 420%;
    }

    #twelve {
      top: 460%;
    }

    #thirteen {
      top: 500%;
    }

    #fourteen {
      top: 540%;
    }

    #fifteen {
      top: 580%;
    }

    #sixteen {
      top: 620%;
    }

    #seventeen {
      top: 660%;
    }

    #eighteen {
      top: 700%;
    }

    #nineteen {
      top: 740%;
    }

    #twenty {
      top: 780%;
    }

    #twentyone {
      top: 820%;
    }

    #twentytwo {
      top: 860%;
    }

    #twentythree {
      top: 900%;
    }

    #twentyfour {
      top: 940%;
    }

    #twentyfive {
      top: 980%;
    }

    #one, #three, #five, #seven, #nine, #eleven, #thirteen, #fifteen, #seventeen, #nineteen, #twentyone, #twentythree, #two, #four, #six, #eight, #ten, #twelve, #fourteen, #sixteen, #eighteen, #twenty, #twentytwo, #twentyfour, #twentyfive {
      left: 40%
    }
  }
  @media (max-width: 444px)  {
  .dialog {
    width: 300px;
  }

  .welcome {
    margin-left: -20px;
  }
}